/* CSS Document */

/* Standard	Feature Phone: 240px 320px pixel-ratio: 1;
		How to calculate screen-pixel-density:
			[(240 min-width x 1 pixel-ratio) = 240px] x [(320 max-width x 1 pixel-ratio) = 320px] = 76,800 pixels */
			
/* For Non-Retina Screens. Portrait Orientation. Inherits all from start of (.css) */
@media screen 
  and (min-device-width: 240px) 
  and (max-device-width: 320px)
	and (orientation: portrait)
  and (min-device-pixel-ratio: 1) {
		
/* Set the background photo for the device */	
html {
	background: url(../_images/_svg/Mt-Hood-Close-Up-CU-240-x-320-px-96-dpi.svg) no-repeat center center fixed;
	background-size: cover; 
	}
		
/* Grid container class */
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 99.6262%;
	padding-left: 0.1869%;
	padding-right: 0.1869%;
	}
}

/* For Non-Retina Screens. Landscape Orientation. Inherits all from start of (.css) */
@media screen 
  and (min-device-width: 240px) 
  and (max-device-width: 320px)
	and (orientation: landscape)
  and (min-device-pixel-ratio: 1) {

/* Set the background photo for the device */
html {
	background: url(../_images/_svg/Mt-Hood-Close-Up-CU-320-x-240-px-96-dpi.svg) no-repeat center center fixed;
	background-size: cover; 
	}

/* Change the attributes of the gridContainer class */	
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 99.6262%;
	padding-left: 0.1869%;
	padding-right: 0.1869%;
	}
}

/* Apple Web-kit Media Queries for iPhone 3 */
@media screen 
  and (min-device-width: 240px) 
  and (max-device-width: 320px)
	and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
		
/* Set the background photo for the device */
html {
	background: url(../_images/_svg/Mt-Hood-Close-Up-CU-240-x-320-px-96-dpi.svg) no-repeat center center fixed;
	background-size: cover; 
	}
		
/* Change the attributes of the gridContainer class */	
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 99.6262%;
	padding-left: 0.1869%;
	padding-right: 0.1869%;
 }
}

@media screen 
  and (min-device-width: 240px) 
  and (max-device-width: 320px)
	and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

/* Set the background photo for the device */
html {
	background: url(../_images/_svg/Mt-Hood-Close-Up-CU-320-x-240-px-96-dpi.svg) no-repeat center center fixed;
	background-size: cover; 
	}
		
/* Change the attributes of the gridContainer class */	
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 99.6262%;
	padding-left: 0.1869%;
	padding-right: 0.1869%;
 }
}