/* CSS Document */

/* Kindle Fire HD 8.9" Layout: 1200px to a max of 1600px. For Enhanced Screens. Portrait and Landscape. Inherits styles from: Mobile Layout, Tablet Layout, iPad 1, 2, 3, and 4, and Kindle Fire 7" */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
		
/* Change the attributes of the gridContainer class */	
.gridContainer {
	width: 89.0217%;
	max-width: 1232px;
	padding-left: 0.4891%;
	padding-right: 0.4891%;
	margin: auto;
}

#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

div.introduction {
	color: #000;
	clear: both;
	float: left;
	margin-left: 1.0989%;
	width: 100%;
	display: block;
}

#article {
	color: #000;
	clear: none;
	float: left;
	margin-left: 1.0989%;
	width: 100%;
	display: block;
}
#interview {
	color: #000;
	clear: none;
	float: left;
	margin-left: 1.0989%;
	width: 100%;
	display: block;
}
#artwork {
	color: #000;
	clear: none;
	float: left;
	margin-left: 1.0989%;
	width: 100%;
	display: block;
}

#photoshot {
	color: #000;
	clear: none;
	float: left;
	margin-left: 1.0989%;
	width: 100%;
	display: block;
}

#closure-section {
	color: #000;
	clear: none;
	float: left;
	/* margin-left: 1.0989%; */
	width: 100%;
	display: block;
	}
}